<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoldenEdge+ CTVS</title>
    <style>
        body {
            font-family: "Consolas", Monospace;
            text-align: left;
            font-size: 12px;
        }

        table {
            width: 100%;
        }

        tbody td {
            padding: 2px 5px;
        }
    </style>
    @RenderSection("head", required: false)
</head>
<body>
@RenderBody()
</body>
</html>