@model PdfReport.Api.Features.Report.ReportFooter

<table style="width: 100%;">
    <thead>
    <tr>
        <td style="width:30%;">
            Run On: @Model.ReportGenerationDateTime
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            By User: @Model.ReportRunByFullName
        </td>
        <td style="text-align: center;">
            @Model.Version
        </td>
        <td style="text-align: right;">TEMP_PLACE_HOLDER_PAGE_COUNT</td>
    </tr>
    </thead>
</table>